.wrapper {
	display: grid;
	color: #444;
}

.box {
	color: #fff;
	padding: 20px;
}

.a {
	grid-column: 1;
	grid-row: 1 / 5;
}

.b {
	grid-column: 2;
	grid-row: 1;
}

.c {
	grid-column: 2;
	grid-row: 2;
}

#wrapper {
	margin-top: 70px;
}