.wrapper {
	display: grid;
	color: #444;
	min-width: 0;
	grid-template:
		"a b c" auto/
		1fr 1fr .5fr;
}

.box {
	color: #fff;
	padding: 20px;
}

#wrapper {
	margin-top: 60px;
}

.c {
	background-color: #1dc7f1;
	padding: 20px;
}