<mat-card appearance="outlined">

	<mat-card-header>
		<mat-card-title style="color: black;">Products</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<div class="table-container">
			<table mat-table [dataSource]="backendService.getCatalog().getProducts()" matSort
				matSortActive="name" matSortDisableClear matSortDirection="desc">

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Product</th>
					<td mat-cell *matCellDef="let product">
						{{product.getName()}}
					</td>
				</ng-container>

				<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef>Detail</th>
					<td mat-cell *matCellDef="let product">
						{{product.getDescription()}}
					</td>
				</ng-container>

				<ng-container matColumnDef="price">
					<th mat-header-cell *matHeaderCellDef>Price</th>
					<td mat-cell *matCellDef="let product">
						{{product.getPrice() | currency}}
					</td>
				</ng-container>

				<ng-container matColumnDef="add">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let product">
						<button mat-fab (click)="this.backendService.addItem(product.getSku())">
							<mat-icon>add</mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></tr>
				<tr mat-row (click)="this.backendService.addItem(row.getSku())"
					*matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</mat-card-content>
</mat-card>

